.footer {
  margin-top: 200px;
  margin-bottom: 20px;
  background: #f2f2f2;
  padding: 30px;
}

.footer .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo-color {
  color: #37517e;
}

.footer-logo .logo {
  margin-bottom: 10px;
}

.footer-logo .footer-address {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer-logo .link {
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo p strong {
  font-size: 15px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-menu .footer-link {
  font-size: 16px;
}

.footer-menu .menu-link {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-menu .menu-link a {
  color: black;
  font-size: 14px;
  transition: all 0.3s ease;
}

.footer-network .our-network {
  margin-bottom: 20px;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-icons .icon {
  width: 36px;
  height: 36px;
  padding: 9px 9px;
  box-sizing: border-box;
  border-radius: 50%;
}

.footer-icons .icon .icon-back {
  color: rgba(58, 156, 111, 1);
  font-size: 30px;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 200px;
  }
}

@media (max-width: 992px) {
  .footer {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 200px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 250px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }
}

@media (max-width: 435px) {
  .footer {
    max-width: 375px;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 20px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }
}

@media (max-width: 375px) {
  .footer {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 20px;
  }
  .footer .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }
}
