.banner-top {
  padding-top: 55px;
  margin-top: 50px;
}

.banner-container {
  margin-top: 20px;
}

.carousel {
  width: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel h3 {
  color: #000 !important;
}

.carousel p {
  color: #000 !important;
}

.link-btn {
  padding: 10px 20px;
  background-color: #182d9a;
  border-radius: 30px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.carousel-indicators {
  display: none;
}
